@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
// .container {
//   height: 100vh;
//   width: auto;
//   font-family: "League Spartan", sans-serif;
//   &__calculator {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     font-size: 1.5rem;
//     &__panel {
//       margin-bottom: 2%;

//       height: 30%;
//       width: 40%;
//       display: flex;
//       flex-direction: column;
//       &__head {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         &:first-child {
//           text-align: left;
//         }
//         &:last-child {
//           text-align: right;
//         }
//         &__theme {
//           display: flex;
//           flex-direction: row;
//           width: 30%;
//           h6 {
//             width: 20%;

//             margin-bottom: 0;
//           }
//           &__selector {
//             margin-left: 10%;
//             width: 80%;
//             &__numpad {
//               h6 {
//                 margin-top: 10%;
//                 &:nth-child(2) {
//                   text-align: center;
//                 }
//                 &:last-child {
//                   text-align: right;
//                 }
//               }
//               display: flex;
//               justify-content: space-between;
//             }
//             &__checkbox {
//               width: 100%;
//               height: 30%;
//               display: flex;
//               align-items: center;
//               border-radius: 12px;
//               svg {
//                 margin-left: 3%;
//                 height: 100%;
//               }
//               #circle {
//                 height: 100%;
//               }
//               // #progress { divs are always rectangulare shaped unlike circle svgs
//               //   width: 10%;
//               //   background-color: "red";
//               //   border: 1px transparent black;

//               //   border-radius: 50%;
//               // }
//             }
//           }
//         }
//       }
//       &__screen {
//         border-radius: 6px;
//         &__body {
//           margin: 5%;
//           h1 {
//             margin: 0;
//             text-align: right;
//             font-size: 4.5rem;
//           }
//         }
//       }
//     }
//     &__buttons {
//       height: 60%;
//       width: 40%;
//       border-radius: 6px;

//       &__grid {
//         height: 90%;
//         margin: 5%;
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         grid-template-rows: repeat(5, 1fr);

//         row-gap: 5%;
//         column-gap: 5%;
//         button {
//           border-radius: 12px;
//           box-sizing: content-box;
//           line-height: 0;
//           padding: 0px;
//         }
//         &__insert {
//           font-size: 3rem;
//           border: 0px;

//           border-bottom: 0.35rem solid;
//         }

//         &__reset {
//           text-transform: uppercase;
//           border: 0px;

//           border-bottom: 0.35rem solid;
//         }
//         #res {
//           grid-column: span 2;
//         }
//         #calculate {
//           border: 0px;

//           border-bottom: 0.35rem solid;

//           grid-column: span 2;
//         }
//       }
//     }
//   }
//   .attribution {
//     font-size: 1rem;
//     text-align: center;
//   }

//   .attribution a {
//     color: hsl(228, 45%, 44%);
//   }
// }

.container {
  height: 100vh;
  width: auto;
  font-family: "League Spartan", sans-serif;
  &__calculator {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    &__panel {
      margin-bottom: 2%;
      width: 90%;
      display: flex;
      flex-direction: column;
      &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
        &__theme {
          display: flex;
          flex-direction: row;
          width: 50%;
          #themeTitle {
            margin-right: 0.5rem;
          }
          h6 {
            // width: 20%;
            margin-bottom: 0;
          }
          &__selector {
            width: 80%;
            &__numpad {
              h6 {
                margin-top: 0.87rem;
                &:nth-child(2) {
                  text-align: center;
                }
                &:last-child {
                  text-align: right;
                }
              }
              display: flex;
              justify-content: space-between;
            }
            &__checkbox {
              width: 100%;
              height: 30%;
              display: flex;
              align-items: center;
              border-radius: 12px;
              svg {
                margin-left: 3%;
                height: 100%;
              }
              #circle {
                height: 100%;
              }
              // #progress { divs are always rectangulare shaped unlike circle svgs
              //   width: 10%;
              //   background-color: "red";
              //   border: 1px transparent black;

              //   border-radius: 50%;
              // }
            }
          }
        }
      }
      &__screen {
        border-radius: 6px;
        margin-bottom: 2%;
        &__body {
          margin: 5%;
          p {
            font-size: 1.5rem;
          }
          h1 {
            margin: 0;
            text-align: right;
            font-size: 2rem;
          }
        }
      }
    }
    &__buttons {
      height: 60%;
      width: 90%;
      border-radius: 6px;

      &__grid {
        height: 90%;
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);

        row-gap: 5%;
        column-gap: 5%;
        button {
          border-radius: 12px;
          box-sizing: content-box;
          line-height: 0;
          padding: 0px;
          font-size: 1.5rem;
        }
        &__insert {
          font-size: 3rem;
          border: 0px;

          border-bottom: 0.35rem solid;
        }

        &__reset {
          text-transform: uppercase;
          border: 0px;

          border-bottom: 0.35rem solid;
        }
        #res {
          grid-column: span 2;
        }
        #calculate {
          border: 0px;

          border-bottom: 0.35rem solid;

          grid-column: span 2;
        }
      }
    }
  }
  .attribution {
    font-size: 1rem;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media screen and (min-width: "375px") and (max-width: "1024px") {
  .container {
    &__calculator {
      &__panel {
        &__screen {
          &__body {
            p {
              font-size: 1.5rem;
            }
            h1 {
              font-size: 2.5rem;
            }
          }
        }
      }
      &__buttons {
        button {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: "1024px") and (max-width: "4000px") {
  .container {
    &__calculator {
      &__panel {
        width: 40%;
        &__head {
          &__theme {
            width: 30%;
          }
        }
        &__screen {
          &__body {
            p {
              font-size: 2rem;
            }
            h1 {
              font-size: 3.5rem;
            }
          }
        }
      }
      &__buttons {
        width: 40%;
        &__grid {
          button {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
